.main {
    min-height: calc(100vh - 60px);
    background-color: #f4f5f8;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 2rem;
    padding-top: 20px;
}

.main>* {
    flex: 1 1 calc(20% - 2rem);
}

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
    }

    .main>* {
        flex: 1 1 100%;
    }
}